# Streamlit
.streamlit/secrets.toml
# .streamlit/config.toml  <-- No ignorar para mantener el tema visual

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
venv.bak/
ENV/

# Data & Clinical Info (Sensitive)
*.xlsx
*.xls
protocolo_text.txt
Gu_a_Taller_Instrumentos_de_Familia.pdf
PROTOCOLO INTERVENCION Y  VDI SJ.pdf
procedimiento-de-construccion-de-genograma.pdf

# Images & Screenshots
# *.png <-- No ignorar para mantener logos
*.jpg
*.jpeg
*.svg

# OS files
.DS_Store
Thumbs.db
